
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<div>
    Hinh Anh
    <img src="~/UploadFile/@ViewBag.FileNameImage" class="img-thumbnail" style="width:400px"/>
</div>
<div>
    Tai Lieu
    <ul>
        <li>@ViewBag.FileName</li>
        <li>@ViewBag.FileStyle</li>
        <li>@ViewBag.FileSize</li>
        <li>
            <a href="~/UploadFile/@ViewBag.FileName" class="btn btn-primary">Download</a>
        </li>
    </ul>
</div>
